<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/f28b8f5475.js" crossorigin="anonymous"></script>
  <title>Medical products</title>
</head>

<body>
  <header class="header">
    <div class="wrapper">
      <div class="layout-3-columns header__layout">
        <div class="header__logo">
          <a href="#">
            <img src="src/assets/img/logo/logo.png" alt="logo" class="logo-png">
          </a>
          <div class="header__title">
            <h1>Medical products</h1>
            <p class="tagline">Care and health</p>
          </div>
        </div>
        <div class="header__search">
          <form class="search-form">
            <input type="text" class="search-form__input header__search-input" placeholder="Enter...">
            <button type="submit" class="search-form__button header__search-button">Search</button>
          </form>
        </div>
        <div class="header__links">
          <a href="#" class="sign-in-ref">Sign In</a>
          <a href="#" class="cart-ref">
            <div class="cart header__cart button">
              <div class="layout-2-columns">
                <div class="cart__cost">
                  <span class="total-cost">0</span>
                  <span class="currency-icon cart__currency-icon">$</span>
                </div>
                <div class="cart__number-of-goods">
                  <div class="cart-icon"></div>
                  <span class="number-of-goods">0</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="cart-list">
      <div class="wrapper">
        <div class="layout-2-columns cart-list__title-layout">
          <div class="cart-list__title">
            <div class="cart-icon cart-list__icon"></div>
            <h2>Cart</h2>
          </div>
          <div class="cart-list__clean-cart">
            <div class="svg-container">
              <?xml version="1.0" encoding="utf-8"?>
              <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
              <svg class="trash-icon cart-list__trash-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000"
                enable-background="new 0 0 1000 1000" xml:space="preserve">
                <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                <g>
                  <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
                    <path
                      d="M3300,4963.4c-132-52.4-196-99-300.8-209.6c-178.5-188.2-221.2-328-221.2-737.4v-287.2l-1158.5-3.9L459,3719.5l-5.8-188.2l-5.8-190.2l655.9-3.9l655.9-5.8l9.7-3648.3l9.7-3648.3l44.6-108.7c132-328,397.8-578.3,720-677.3c118.4-36.9,192.1-38.8,2456.8-38.8c2264.7,0,2338.4,1.9,2456.8,38.8c322.2,99,588,349.3,720,677.3l44.6,108.7l9.7,3648.3l9.7,3648.3l655.9,5.8l655.9,3.9l-5.8,190.2l-5.8,188.2l-1158.5,5.8l-1156.6,3.9l-7.8,335.7c-7.8,285.3-13.6,349.3-50.4,440.5c-81.5,201.8-269.7,386.2-479.3,463.8c-106.7,40.8-137.8,40.8-1694.1,40.8H3408.7L3300,4963.4z M6626.2,4594.7c81.5-33,161.1-128.1,188.2-221.2c9.7-38.8,19.4-199.9,19.4-357.1v-287.2H5000H3166.1v287.2c0,316.3,15.5,399.8,91.2,491c99,118.4,29.1,112.5,1738.8,114.5C6276.9,4621.9,6575.8,4618,6626.2,4594.7z M7839.1-301.4l-5.8-3644.4l-40.8-89.2c-60.1-130-168.8-240.6-295-302.8l-110.6-54.3H5000H2613.1l-110.6,54.3c-126.1,62.1-234.8,172.7-295,302.8l-40.8,89.2l-5.8,3644.4l-3.9,3642.5h2843h2843L7839.1-301.4z" />
                    <path d="M3127.3-569.2v-2862.4h194.1h194.1v2862.4v2862.4h-194.1h-194.1V-569.2z" />
                    <path d="M4815.7-569.2v-2864.3l190.2,5.8l188.2,5.8l5.8,2858.5l3.9,2856.6h-194.1h-194.1V-569.2z" />
                    <path d="M6484.6-569.2v-2862.4h194.1h194.1v2862.4v2862.4h-194.1h-194.1V-569.2z" />
                  </g>
                </g>
              </svg>
            </div>
            <p>Empty cart</p>
          </div>
        </div>
        <div class="cart-list__form">
          <div class="cart-list__item">
            <div class="cart-list__img">
              <img src="src/assets/img/products/product-1.png" alt="product" class="cart-img">
            </div>
            <div class="cart-list__description">
              <a href="#" class="link_not-underlined">
                <h4 class="cart-list__item-title">MOVEMENT by Butter-Soft Men's Altair V-Neck Scrub Top</h4>
              </a>
              <div class="product-block__rating rating">
                <i class="fas fa-star rating__star"></i>
                <i class="fas fa-star rating__star"></i>
                <i class="fas fa-star rating__star"></i>
                <i class="fas fa-star-half-alt rating__star"></i>
                <i class="far fa-star rating__star"></i>
              </div>
              <div class="cart-list__color">
                <p>Color:</p>
                <div class="clothes-color clothes-color_blue"></div>
              </div>
            </div>
            <div class="cart-list__counter counter-panel">
              <div class="counter-panel__controls counter-panel__controls_plus">
                <p>+</p>
              </div>
              <div class="cart-list__qty counter-panel__qty">1</div>
              <div class="counter-panel__controls counter-panel__controls_minus">
                <p>-</p>
              </div>
            </div>
            <div class="cart-list__cost">
              <span class="item-price cart-list__price">640</span>
              <span class="currency-icon cart-list__currency-icon">$</span>
            </div>
            <div class="cart-list__close">
              <div class="svg-container">
                <?xml version="1.0" ?><svg id="Outlined" class="close-icon" viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg">
                  <title />
                  <g id="Fill">
                    <path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z" />
                    <polygon
                      points="19.54 11.05 16 14.59 12.46 11.05 11.05 12.46 14.59 16 11.05 19.54 12.46 20.95 16 17.41 19.54 20.95 20.95 19.54 17.41 16 20.95 12.46 19.54 11.05" />
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="cart-list__bottom">
            <div class="layout-2-columns cart-list__total">
              <div class="cart-list__total-qty">
                <p>Total quantity: <span class="total-qty__number">1 pcs.</span></p>
              </div>
              <div class="cart-list__order-price">
                <p>Order-price: <span class="order-price__sum-number">640</span> <span class="currency-icon order-price__currency">$</span></p>
              </div>
            </div>
            <div class="layout-2-columns cart-list__buttons">
              <button class="button button_inverted button_disabled cart-list__button" disabled>Go back</button>
              <button class="button cart-list__button">Pay now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>