.layout-2-columns {
  @include flex ($justify: space-between);

  & > * {
    width: 45%;
  }
}

.layout-3-columns {
  @include flex ($justify: space-between);

  & > * {
    width: 30%;
  }
}

.layout-4-columns {
  @include flex ($justify: space-between);

  & > * {
    width: 20%;
  }
}