html {
  font-size: 10px;
  font-family: Saira, sans-serif;
}

body {
  font-family: Saira, sans-serif;
}

.link_not-underlined {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}