.cancel-action {
  background-color: transparent;
  color: $color-warning;
  font-size: 1.5rem;
  font-weight: 500;
  @extend %cursor-pointer;

  &:hover {
    color: $color-warning-light;
    text-decoration: underline;
  }
}
