$cart-icon-width: 30px;

.header__cart {
  padding: 2px 8px;
}

.cart__number-of-goods {
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
  color: $main-color;

  .cart-icon {
    width: $cart-icon-width;
  }
}

.number-of-goods-container {
  width: calc(100% - #{$cart-icon-width});
}