.rating {
  color: $color-add;
  font-size: 1.4rem;
}

.rating__star {
  margin-right: 2px;
}

.rating__reviews-num a {
  color: $main-color;
  font-size: 1.7rem;
  margin-left: 5px;
}

.product-content__rating-and-reviews-num {
  display: flex;
}
