.reviews__no-reviews {
  text-align: center;
  font-size: 1.7rem;
  font-style: italic;
  margin: 0 0 10px;
}

.review {
  margin: 0;
  border-top: 2px solid $color-gray-transparent-extra;
  padding: 10px 0;
}

.review__layout {
  display: flex;
}

.review__avatar-container {
  margin-right: 8px;
}

.review__avatar {
  margin-right: 5px;
  border-radius: 4px;
  width: 50px;
}

.review__star {
  font-size: 1rem;
  margin-right: 1px;
}

.reviews__nickname {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.4rem;
  color: $main-color;
}

.review__date {
  font-size: 1.3rem;
  font-weight: normal;
  color: $color-gray;
  margin: 6px 0 0;
}

.review__comment {
  font-size: 1.5rem;
}
