.sort-container {
  position: relative;
}

.sort {
  cursor: default;

  span {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 3px;
    color: $color-add-contrast;
    border-bottom: 1.3px dashed $color-add-contrast;
    @extend %cursor-pointer;
    @extend %transition;
  }
}

.sort-pop-up {
  display: block;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  position: absolute;
  top: 200%;
  background-color: $color-light;
  box-shadow: 1px 1px 3px $color-gray;
  @extend %transition;

  & ul {
    list-style-type: none;

    & li {
      user-select: none;
      font-size: 1.8rem;
      font-weight: 600;
      color: $color-add-contrast;
      padding: 4px 15px;
      @extend %cursor-pointer;

      &:hover {
        background-color: $color-light-red;
      }
    }
  }
}

.sort-pop-up_shown {
  visibility: visible;
  opacity: 1;
  top: 140%;
  @extend %transition;
}

.sort-pop-up ul .sort-pop-up__link_active {
  background-color: $color-add;
  color: $color-light;

  &:hover {
    background-color: $color-add;
    color: $color-light;
  }
}

.sort-category {
  user-select: none;
  &:hover {
    color: $main-color;
    text-shadow: 0 0 10px $color-light;
    border-bottom-color: $main-color;
  }
}

.sort-by {
  user-select: none;
  font-size: 1.6rem;
  position: relative;
  @extend %cursor-pointer;

  &:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: -16px;
    top: 50%;
    transform: translateY(-75%);
    width: 6px;
    height: 6px;
    border: 6px solid $color-dark;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  &:hover {
    color: $color-gray;
  }
}

.sort-by_asc:before {
  border: 6px solid $color-dark;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.sort-by_desc:before {
  border: 6px solid $color-dark;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: 70%;
}
