// Colors
$main-color: #43298a;
$main-color-light: #6247ac;
$main-color-light-strong: #9988c7;
$main-color-light-extra: #faf1d2;
$main-color-dark: #2b146b;
$tagline-color: rgb(202, 188, 241);
$link-color: rgb(11, 75, 148);
$link-hover-color:rgb(20, 108, 209);

$color-add:rgb(250, 143, 21);
$color-add-light-semi:rgb(248, 163, 66);
$color-add-light: rgb(253, 239, 44);
$color-add-contrast: rgb(255, 123, 0);
$color-add-contrast-dark: rgb(196, 97, 4);

$color-light: rgb(255, 255, 255);
$color-light-red: rgb(253, 234, 234);
$color-dark: rgb(0, 0, 0);
$color-gray: rgb(104, 104, 104);
$color-gray-dark: rgb(58, 58, 58);
$color-gray-transparent: rgba(104, 104, 104, 0.664);
$color-gray-transparent-extra: rgba(170, 170, 170, 0.295);
$color-green: rgb(2, 156, 28);
$color-green-light-semi: rgb(25, 187, 52);
$color-green-light: rgb(142, 241, 158);
$color-pink:rgb(194, 36, 173);
$color-pink-dark:rgb(145, 8, 126);
$color-pink-light: rgb(209, 75, 191);

$clothes-color-red: rgb(223, 57, 57);
$clothes-color-green: rgb(2, 156, 28);
$clothes-color-blue: rgb(23, 97, 182);
$clothes-color-orange: rgb(226, 149, 34);
$clothes-color-black: rgb(32, 32, 32);

$color-warning: rgb(231, 33, 33);
$color-warning-light: rgb(248, 69, 69);
$color-warning-dark: rgb(189, 11, 11);

// Screens
$width-laptop: 1115px;
$width-tablet: 905px;
$width-tablet-medium: 690px;
$width-tablet-small: 630px;
$width-mobile: 535px;
$width-mobile-medium: 480px;
$width-mobile-small: 350px;

// metrics
$header-height: 60px;
$header-links-mobile-width: 169px;
$header-input-tablet-width: 40px;