.cart-list {
  padding: 30px;
}

.cart-list__title-layout {
  @include flex($align: center, $justify: space-between);
  padding: 0 0 30px;
}

.cart-list__title {
  display: flex;
  align-items: center;

  h2 {
    font-size: 3rem;
    margin: 0;

    @include media-mobile-medium {
      font-size: 2.4rem;
    }
  }
}

.cart-list__icon {
  width: 70px;
  height: 40px;

  @include media-mobile-medium {
    width: 50px;
    height: 25px;
  }
}

.cart-list__clean-cart{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @extend %cursor-pointer;

  p {
    font-size: 1.7rem;
    color: $color-gray-transparent;
    margin: 0;
    @extend %transition;

    @include media-mobile-medium {
      font-size: 1.4rem;
    }
  }

  .cart-list__trash-icon {
    margin-right: 5px;

    path {
      @extend %transition;
    }
  }

  &:hover {
    p {
      color: $color-dark;
    }

    .cart-list__trash-icon path {
      fill: $color-dark;
    }
  }
}

.cart-list__item {
  display: grid;
  grid-template: 100% / 140px 1fr repeat(2, 130px) 70px;
  border-bottom: 2px solid $color-gray-transparent;

  & > * {
    padding: 10px;
  }

  @include media-tablet {
    grid-template: 2fr 1fr / 1fr 3fr 140px;

    .cart-list__img {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }

    .cart-list__description {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }

    .cart-list__counter {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    .cart-list__cost {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      justify-content: flex-start;
    }

    .cart-list__close {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      justify-self: end;
    }
  }

  @include media-mobile-medium {
    grid-template-columns: 1fr 100px;

    .cart-list__img {
      grid-row: 1 / 3;
      grid-column: 2 / 3;

      .cart-img {
        width: 80px;
      }
    }

    .cart-list__description {
      grid-row: 1 / 2;
      grid-column: 1 / 2;

      .cart-list__item-title {
        font-size: 1.5rem;
      }
    }

    .cart-list__cost {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      justify-content: flex-start;
    }

    .cart-list__counter {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    .cart-list__close {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      justify-self: end;
    }
  }
}

.cart-img {
  width: 100%;
}

.cart-list__item-title{
  font-size: 2rem;
}

.cart-list__color {
  display: flex;
  align-items: center;

  p {
    font-size: 1.8rem;
    margin: 0;
  }

  .clothes-color {
    margin-left: 10px;
  }
}

.cart-list__cost {
  @include flex($align: center, $justify: center);
}

.cart-list__price {
  font-size: 2.6rem;
  font-weight: 500;
}

.cart-list__currency-icon {
  font-size: 3.5rem;
  color: $color-dark;
}

.cart-list__close {
  @include flex($align: center, $justify: center);
}

.cart-list__bottom {
  padding: 15px;
}

.cart-list__total {
  padding: 0 0 35px;

  @include media-tablet {
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > * {
      width: 100%;
    }
  }
}

.cart-list__total-qty {
  p {
    font-size: 2.2rem;

    @include media-tablet {
      font-size: 1.7rem;
    }
  }

  .total-qty__number {
    font-size: 2.2rem;
    font-weight: 700;

    @include media-tablet {
      font-size: 1.7rem;
    }
  }

  @include media-tablet {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.cart-list__order-price {
  display: flex;
  justify-content: flex-end;

  p {
    font-size: 2.2rem;

    @include media-tablet {
      font-size: 1.7rem;
    }
  }

  .order-price__sum-number {
    font-size: 2.2rem;
    font-weight: 700;
    color: $color-add-contrast;

    @include media-tablet {
      font-size: 1.7rem;
    }
  }

  @include media-tablet {
    display: flex;
    justify-content: center;
  }
}

.order-price__currency {
  font-size: 2.4rem;
  color: $color-dark;

  @include media-tablet {
    font-size: 1.9rem;
  }
}

.cart-list__buttons {
  @include media-mobile-medium {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.cart-list__button {
  max-width: 200px;

  @include media-mobile-medium {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
  }
}