html {
  font-size: 10px;
  font-family: Saira, sans-serif;
}

body {
  font-family: Saira, sans-serif;
}

.link_not-underlined {
  text-decoration: none;
  @extend %transition;
  color: #0b4b94;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}